<h1>Welcome</h1>

<div>
  <%=yield%>
  <%@products%>
  <p><%@products.each do |product|%>
    <ul>
    <h2><%=product.name%></h2>
    <li><%=product.description%></li>
    <li><%=product.price_in_cents%></li>
    <li><%= link_to("Reviews", "/products/show") %></li>
</ul>
<%end%>
<!-- <link -->

</p>

</div>
