<h1>Look at our beautiful product</h1>
<h3><%=@product.name%></h3>
 <%=@product.description%>
 <%=@product.price_in_dollars%>

<%=link_to("Edit", "/products/#{params[:id]}/edit") %>
<%=link_to("Delete", "/products/#{@product.id}", method: :delete, data: {confirm: "This is a beautiful peace of jewelery. Are you sure you want to let it go?"})%>
